{% extends "layout.html" %}

{% block contentheader %}
  <h1>
    Hello
    <small>DevOps enthusiasts</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" class="active"><i class="fa fa-home"></i> Home</a></li>
  </ol>
{% endblock %}

{% block body %}
  <em>App Under Construction</em>
{% endblock %}
