{% extends "layout.html" %}

{% block contentheader %}
  <h1>
    Contacts
    <small>DevOps enthusiasts</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" class="active"><i class="fa fa-home"></i> Home</a></li>
  </ol>
{% endblock %}

{% block body %}
  {% if session.logged_in %}
    <br />
    <button class="button text-primary" ng-click="add=true" ng-show="!add"><i class="fa fa-user-plus"> Add mine</i></button>
    <form name="form" action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <div ng-show="add">
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=title required>
        <dt>Contact info:
        <dd><textarea name=text rows=1 cols=50 required></textarea>
        <dd><input type=submit value=Send>
      </dl>
      </div>
    </form>
  {% endif %}
  <hr />
  <h2>Contacts list</h2>
  <div class="row-fluid">
    {% for entry in contacts %}
      <div class="col col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <i class="fa fa-user-circle fa-3x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ entry.title }}</h4>
            {{ entry.text|safe }}
          </div>
        </div>
      </div>
    {% else %}
      <em>Unbelievable.  No contacts here so far</em>
    {% endfor %}
  </div>
{% endblock %}
