{% extends "layout.html" %}
{% block title %}:: About Flask{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block contentheader %}
  <h1>
    About appBlogging
    <small>The World of Flask!</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">About</li>
  </ol>
{% endblock %}

{% block body %}
  <small>
    version: <i><b>{{ APP_VERSION }}</b></i> <br />
    {{ datetime }} <br />
    @ {{ container }} <br />
    Hosted on: {{ hosted }} <br />
  </small>
{% endblock %}
