{% extends "layout.html" %}
{% block contentheader %}
  <h1>
    Hello
    <small>DevOps enthusiasts</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" class="active"><i class="fa fa-home"></i> Home</a></li>
  </ol>
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <em>Yet Another App Under Construction</em>
  </div>
{% endblock %}
