{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {# this can be a modal dialog #}
  <form action="{{ url_for('login') }}" method=post>
    <div class="hold-transition login-page">
      <div class="login-box">
        <div class="login-logo">
          <a href="#"><b>Tee</b>Bees</a> Login
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg">Sign in to start your session</p>

            <div class="form-group has-feedback">
              <input type="text" class="form-control" placeholder="Username" name=username required>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Password" name=password required>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <!--div class="col-xs-8">
                <div class="checkbox icheck">
                  <label>
                    <input type="checkbox"> Remember Me
                  </label>
                </div>
              </div-->
              <!-- /.col -->
              <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
              </div>
              <!-- /.col -->
            </div>

          <!--div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
              Facebook</a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
              Google+</a>
          </div-->
          <!-- /.social-auth-links -->

          <!--div class="row">
            <a href="#">I forgot my password</a><br>
            <a {#href="register.html"#} class="text-center">Register a new membership</a>
          </div-->

        </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->

      <br />
    </div>
  </form>
{% endblock %}
