{% extends "layout.html" %}

{% block contentheader %}
  <h1>
    Users
    <small>we are who we are</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Users</li>
  </ol>
{% endblock %}

{% block body %}
  {% if session.logged_in %}
    <button class="button text-primary" ng-click="add=true" ng-show="!add"><i class="fa fa-user-plus"> Add user</i></button>
    <form name="form" method=post class=add-entry>
      <div ng-show="add">
        <h2>Add User</h2>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"> </i></span>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"
                   size=30 name=title required>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-secret"> </i></span>
          <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" required>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"> </i></span>
          <input type="text" class="form-control" placeholder="Your full name" aria-describedby="basic-addon1"
                   size=30 name=title required>
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" placeholder="email's username" aria-describedby="basic-addon2" required>
        </div>

        <br />

        <button type="button" class="btn btn-danger" ng-click="add=false">Cancel</button>
        <button type="button" class="btn btn-primary">Send</button>

      </div>
    </form>
  {% endif %}
  <hr />
  <h2>Users list</h2>
  <div class="row-fluid">
    {% for user in users %}
      <div class="col col-md-2">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <i class="fa fa-user-circle fa-3x"></i>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ user.username }}</h4>
            {{ user.name|safe }}
          </div>
        </div>
      </div>
    {% else %}
      <em>Unbelievable. No users here so far</em>
    {% endfor %}
  </div>
{% endblock %}
